/*DESKTOP FIRST (min viewport 1024px)*/

* {
    box-sizing: border-box;
}

.dark-mode {
    background-color:#18171c ;
    color:white;
}
.light-mode{
    background-color: white;
    color:dark;
}
a{
    text-decoration: none;  
}

h4{
    width: 100%;  
    height: auto;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo-header.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: none;
    height: 50vh;
    width: 100vw;
    padding: 2vh;
}

.contenedor-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 25vh;
}

#contenedor-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

#buscador {
    width: 80%;
    height: 4vh;
}

#submit {
    width: 18%;
    height: 5vh;
    background-color: yellow;
    border-radius: 10px;
}

.menu-navegacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    list-style-type: none;
    background-color: black;
    width: 50vw;
    height: 7.5vh;
    padding: 0px;
    margin: 0px;
}

.items-navegacion {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}
/* FIN HEADER */



/*CUERPO Y LISTADOS*/
body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    background-color: #18171c;
}

.padre-listados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-listados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-color: black;
    border-width: 20px;
    border-radius: 25px;
    padding: 0px;
    margin: 1.8% 0%;
    width: 97%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.listados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: 20%;
    margin: 1% 0%;
    padding: 0%;
}

.titulo-listados {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin: 1.8% 0%;
}

.img-listados{
    width: 80%;
}

.nombreTrack {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 10% 0%;
    }

.nombreArtista {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin: 10% 0%;
}

.tituloAlbum {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 10% 0%;
}

.nombreGenres {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 10% 0%;
}
/*FIN CUERPO Y LISTADOS*/


/*FOOTER*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo-header.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: none;
    height: 20vh;
    width: 100%;
    padding: 10px;
}

.integrantes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 10px;
}

.copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 5px;
}
/*FIN FOOTER*/


/*DETAIL GENRES*/
.padre-detail-genre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contenedor-padre-listados{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.detail-genero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img-detailgenre{
    width: 95%;
    padding: 1% 1% 2% 1%;
}
/*FIN DETAIL GENRES*/


/*DETAIL ARTIST*/
.padre-detail-artist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.detail-artist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img-detailartist{
    width: 95%;
    padding: 1% 1% 2% 1%;
}
/*FIN DETAIL ARTIST*/


/*DETAIL ALBUM*/
.padre-detail-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.detail-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img-detailalbum{
    width: 95%;
    padding: 1% 1% 2% 1%;
}

.info-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.contenido-info-album{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: white;
    margin: 2.5% 0.5%;
}

.canciones-detail-album{
    font-weight: lighter;
}  
/*FIN DETAIL ALBUM*/


/*DETAIL TRACK*/
.padre-detail-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.detail-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img-detailtrack{
    width: 95%;
    padding: 1% 1% 2% 1%;
}

.padre-info-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
    border-style: outset;
    border-color: black;
    border-width: 20px;
    border-radius: 25px;
    padding: 2%;
}

.info-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.contenido-info-track{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: white;
}
/*FIN DETAIL TRACK*/


/*search results */
.search-results-final{
    display: flex;
    flex-direction: column;
    align-items: center;
}